[submodule "HairBookServer"]
	path = HairBookServer
	url = https://github.com/chenba12/HairBookServer.git
[submodule "HairBookFront"]
	path = HairBookFront
	url = https://github.com/orben22/HairBookFront/tree/master
